@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLOR PALETTE */
:root {
  --white: rgb(255, 255, 255);
  --primary-brown: rgb(56, 36, 15);
  --primary-green: rgb(153, 179, 134);
  --primary-beige: rgb(195, 155, 94);
  --primary-blue: rgb(163, 217, 255);
  --secondary-light-grey: rgb(154, 168, 179);
  --base-mid-blue: rgb(33, 50, 65);
  --base-dark-blue: rgb(3, 22, 38);
  --primary-brown-opacity90: rgba(56, 36, 15, 0.9);
  --error-red-med: #ff6767;

  /* colors from GW2 Wiki */
  --rarity-ascended: #fb3e8d;
  --rarity-masterwork: #1a9306;
  --rarity-fine: #62A4DA;
}

/* semantic color variables for this project */
:root {
  --color-text-primary1: var(--primary-brown);
  --color-text-primary2: var(--primary-green);
  --color-text-primary3: var(--primary-beige);
  --color-text-primary4: var(--primary-blue);
  --color-text-secondary1: var(--base-dark-blue);
  --color-text-secondary2: var(--base-mid-blue);
  --color-text-secondary3: var(--secondary-light-grey);
  --color-text-white: var(--white);
  --color-text-error2: var(--error-red-med);

  --color-background-primary1: var(--primary-brown);
  --color-background-primary2: var(--primary-green);
  --color-background-primary3: var(--primary-beige);
  --color-background-primary4: var(--primary-blue);
  --color-background-secondary1: var(--base-dark-blue);
  --color-background-secondary2: var(--base-mid-blue);
  --color-background-secondary3: var(--secondary-light-grey);

  --color-background-primary-opacity9: var(--primary-brown-opacity90);

  --color-util-primary1: var(--primary-brown);
  --color-util-primary2: var(--primary-green);
  --color-util-primary3: var(--primary-beige);
  --color-util-primary4: var(--primary-blue);
  --color-util-secondary1: var(--base-dark-blue);
  --color-util-secondary2: var(--base-mid-blue);
  --color-util-secondary3: var(--secondary-light-grey);

  --color-icon-primary1: var(--primary-brown);
  --color-icon-secondary3: var(--secondary-light-grey);

  --scrollbar-foreground: var(--secondary-light-grey);
  --scrollbar-background: var(--base-dark-blue);

  --section-gap: 160px;
  --vertical-padding: 5px;
  --horizontal-padding: 10px;
}

a,
input {
  outline-width: 0px;
}